@model projjjecttttt.Models.Reserve


@{
    ViewData["Title"] = "ReserveSuccess";
}


<div class="container mt-5">
    <div class="row  align-items-center ">
        <div class=" row  border border-info rounded-3 mt-5 col-6 offset-md-3 py-2 bg-white">
            <div>
            <h1 class="text-primary">congratulations, your reservation is dont successfully</h1>
            </div>


        </div>
    </div>
</div>