@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<pre>







</pre>

<h1 style="color:#00c3da" class="m-auto text-center">@ViewData["Title"]</h1>
<p class="m-auto text-center">
    Please check your email to reset your password.
</p>
