@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<pre>




</pre>
@*style="background-color:#00c3da"*@

<div class="container-fluid">
<h1 style="color:#00c3da " class="dd">Manage your account</h1>

<div>
    <h4 style="color:#00c3da"  class="dd">Change your account settings</h4>
    <hr />
    <div style="color:#00c3da !important" class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
