@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="container ">
    <div class="row  align-items-center ">
        <div class=" row  border border-info rounded-3 mt-2 col-6 offset-md-3 py-2 bg-white">
            <form class="row g-1" id="change-password-form" method="post">
                <h2 style="color:#00c3da " class="dd">Change Password</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-10">
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
                <div class="col-10">
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
                <div class="col-10">
                 <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
               
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
            <button type="submit" class="btn btn-color">Update password</button>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
